{% extends 'dashboard/home.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content  %}
    <!-- NAVIGATION BAR, LAHAT NG LINKS -->
	<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
		<div class="container">
			<a class="navbar-brand" href="homepage.html"><span class="text-secondary">STUDY</span>ERA</a> <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
						<a class="nav-link" href="register.html">Register</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

    <!--Signin form--> 
    <div class="container-sm w-25 p-3 shadow-lg p-3 mb-5 bg-body-tertiary rounded-5 position-absolute top-50 start-50 translate-middle">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="my-3 text-center fw-bolder">Login</legend>
          {{ form|crispy }}
        </fieldset>
        <div class="d-grid gap-2 col-3 mx-auto mb-3 mt-3">
          <button class="btn btn-secondary text-white" type="submit">
            Login
          </button>
        </div>
      </form>
      <div class="d-grid gap-2 col-8 mx-auto mb-3 mt-3">
        <p class="text-secondary text-center">New user?<a href="{% url 'register' %}" class="link-secondary"> Register</a></p>
      </div>
    </div>
{% endblock content %}